// Catalog
// Accessible Product Catalog

// Using .access-accordion
// @ accessibility.less
.access-accordion {

  ul {
    text-align:center;
    background:transparent;
    border-bottom:1px solid #eee;
  }

}


// <* class="filter-active">
// Display Active filters for the Catalog
// Default: no filters active
.filter-active {
  padding-bottom:.8rem;
  border-bottom:1px solid #eee;
  margin-bottom:1.5rem;

  // Individual Filters
  [data-filter-remove] {
    display:inline-block;
    position:relative;
    padding:.5rem 1.2rem .4rem .5rem;
    .border-radius(2px);
    border:1px solid #eee;
    font-size:.8em;
      span {
        //.transition(all .2s ease);
        position:absolute;
        top:0;
        right:0;
        border-left:1px solid #eee;
        border-bottom:1px solid #eee;
        .border-radius(2px);
        padding:0 .2rem;
          i {font-style:normal;}
          i.hovered {display:none;}
      }
      &:hover {
        span {
          left:-1px;
          bottom:-1px;
          right:-1px;
          top:-1px;
          background:rgba(190,0,0,.85);
          text-align:center;
          padding-top:.5rem;
          color:@color-light;
          font-size:1.2em;
            i.default {display:none;}
            i.hovered {display:inline;}
        }
      }
      &[data-filter-remove=all] {
        padding-right:.5rem;
      }
    
  }
  
}


// Catalog Product Display
// - supports filtering: see HTML comments
#catalog-products {

  
  // <a class="catalog-single-product">
  // - wrapping products in <a> for accessibility and ease-of-use
  //   -- make sure to declare display:block for wrapping <a>'s
  // - <a>-wrapping validates in HTML5, so long as there are no "interactive elements within it"
  //   -- i.e. another <a> or any clickable element
  a.catalog-single-product {
    
    display:block;
    position:relative;
    margin-bottom:1.5rem;
    
    // reset figure styling
    figure {
      margin:0!important;
      padding:0!important;
    }
    
    // images should all be the same dimensions
    img {
      max-width:100%;
      height:auto;
    }
    
    // Using <p> as Description
    // Using <p> to hold <span> for Price and Stock
    p {
      
      display:block;
      margin-bottom:.4rem;
      font-weight:bold;
      font-size:1em;
      .clearfix;
      width:100%;
      
        // Using span:first-child for Price
        // Using all other spans as right-aligned information (stock)
        span {
          display:block;
          float:left;
          color:green;
          &:last-child {
            float:right;
            color:@color-dark;
          }
        }
      
    }
    
    // Using <figcaption> to display product short description
    figcaption {
      padding:.4rem 0 .4rem .3rem;
      border-top:1px solid #f6f6f6;
      border-bottom:2px solid #f1f1f1;
      font-size:.8em;
      color:#666;
      font-style:italic;
    }
    
  }

}