<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Disable Zoom [hardcore] -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    
    <!-- Title -->
    <title>
      {{master.title}} {{#if page}} > {{page}}{{/if}}
    </title>

    <!-- CSS -->
    <link href="/styles/master.css" rel="stylesheet">

    <!-- Pre-Render JS -->


  </head>
  
  <body>
    
    <!-- Navigation -->
    <nav role="main" id="desktop">
      <a href="#main" class="off-page">Skip to main content</a>
      <button id="mobile-menu" aria-hidden="true">Menu &rsaquo;</button>
      <ul id="main-nav" aria-hidden="false">
        <li>
          <a href="/visual">Visual</a>
        </li>
        <li>
          <a href="/hearing">Hearing</a>
        </li>
        <li>
          <a href="/motor">Motor</a>
        </li>
        <li>
          <a href="/cognitive">Cognitive</a>
        </li>
      </ul>
      <ul role="menubar" id="mobile-nav" aria-hidden="true">
        <li>
          <a href="/visual">Visual</a>
        </li>
        <li>
          <a href="/hearing">Hearing</a>
        </li>
        <li>
          <a href="/motor">Motor</a>
        </li>
        <li>
          <a href="/cognitive">Cognitive</a>
        </li>
      </ul>
      <a class="logo" href="/">Access</a>
    </nav>
    <div id="mobile-nav-bounds"></div>
    <div id="mobile-nav-overlap"></div>