<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Disable Zoom [hardcore] -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    
    <!-- Title -->
    <title>
      {{master.title}} {{#if page}} | {{page}}{{/if}}
    </title>

    <!-- CSS -->
    <link href="/styles/master.css" rel="stylesheet">

    <!-- Pre-Render JS -->


  </head>
  
  <body>
    
    <!-- Navigation -->
    <nav role="navigation" id="desktop">
      <a href="#main" class="access-skip-nav">
        <span class="typcn typcn-arrow-forward" aria-hidden="true">
        </span><span class="sr-only">Skip to Main Content</span>
      </a>
      <button id="mobile-menu" role="tab" aria-expanded="false">
       <span class="sr-only">Open Mobile Menu</span>
       <span aria-hidden="true">Menu &rsaquo;</span>
      </button>
      <ul id="main-nav" aria-hidden="false">
        <li>
          <a href="/">Overview</a>
        </li>
        <li>
          <a href="/catalog">eCommerce</a>
        </li>
      </ul>
      <ul role="navigation" role="tabpanel" id="mobile-nav" aria-hidden="true">
        <a class="access-close-mobile" href="#" id="close-mobile-menu">Close Menu</a>
        <li>
          <a href="/">Overview</a>
        </li>
        <li>
          <a href="/catalog">eCommerce</a>
        </li>
      </ul>
      <a class="logo" href="/"><span class="typcn typcn-lock-open" aria-hidden="true"></span> Access</a>
    </nav>
    <div id="mobile-nav-bounds"></div>
    <div id="mobile-nav-overlap"></div>