{{> header}}
  
  <main class="container" id="main">

    <article>
     
      <!-- Introduction -->
      <section class="in-page">
        <h1>Access</h1>
        <p class="text-center">An accessibility template focusing on the four outlined areas of disability affecting web browsing: visual, hearing, motor, and cognitive.</p>
        <p class="text-center">The Access template's purpose is to provide a solid foundation from which to construct the front-end of a web site in as close adherance as possible to <a target="_blank" href="https://www.w3.org/TR/WCAG20/">WCAG 2 compliance</a>.</p>
        <p class="text-center">
          Access is a constant work-in-progress, and reminds those utilizing this resource that it is simply a guide intended to aid developers, and to always check their level of compliance with the appropriate institution.
        </p>
      </section>
      
      <!-- Types of Disabilities Overview -->
      <section class="in-page row">
        <h2 id="overview">Template Overview</h2>
        <div class="col-sm-6">
          <p>
            <b class="header">Visual</b>
            The visual aspect of accessibility largely includes screen reader compatibility, proper use of semantic HTML5, and proper use of ARIA roles.
          </p>
        </div>
        <div class="col-sm-6">
          <p>
           <b class="header">Hearing</b>
            The hearing aspect of accessibility is focused on audio-enabled media alternatives such as transcripts for videos, and ensuring the UX <i>does not</i> rely on any audio-based cues to provide users instructions.
          </p>
        </div>
        <div class="col-sm-6">
        
        </div>
        <div class="col-sm-6">
        
        </div>
      </section>
      
    </article>
  
  </main>

{{> footer}}    