{{> header}}
  
<main class="container" id="main">

  <article id="catalog">

    <!-- Catalog -->
    <section id="catalog" class="in-page">

      <h1>Product Catalog</h1>

      <div id="catalog-filter">
        
        <!-- 
            Access Accordion - 
            - accordion wrapper + trigger: always visible
            - accordion content hidden by:
              -- height:0; overflow:hidden;
              -- aria-hidden="true"
            - javascript is looking for:
              -- Wrapper:  .access-accordion
              -- Accordion Trigger:  [role=tab]
              -- Accordion Content:  [role=tabpanel]
        -->
        <section role="tablist" class="access-accordion" data-filter="category">
         
          <a href="#" id="filter-category-header" role="tab" aria-controls="filter-category" class="Product Category" aria-expanded="false">
            Sort by Category <span class="typcn typcn-arrow-sorted-down" aria-hidden="true"></span>
          </a>
          
          <ul role="tabpanel" id="filter-category" aria-labelledby="filter-category-header" aria-hidden="true">
           
            <li>
              <input type="checkbox" id="pets" name="pets" value="pets" />
              <label for="pets">Pets</label>
            </li>
            
            <li>
              <input type="checkbox" id="electronics" name="electronics" value="electronics" />
              <label for="electronics">Electronics</label>
            </li>
            
            <li>
              <input type="checkbox" id="plants" name="plants" value="plants" />
              <label for="plants">Plants</label>
            </li>
            
            <li>
              <input type="checkbox" id="food" name="food" value="food" />
              <label for="food">Food</label>
            </li>
            
          </ul>
          
        </section>
        
        
        <!-- 
            Applied Filters
            - individual filters controlled by javascript:
              -- [data-filter-remove="*"]
            - filters wrapped in <a>, preventDefault() used to prevent scrolling
        -->
        <div class="filter-active">
          <h5>Applied Filters:</h5>
          <a href="#" data-filter-remove="all">
            <span class="sr-only">No Catalog Filters Selected</span>
            <span aria-hidden="true">All Products</span>
          </a>
          <!--
          <a href="#" data-filter-remove="all">
            <span class="sr-only">Remove filter </span>
            All Products
            <span class="remove" aria-hidden="true">
              <i aria-hidden="true" class="default">x</i>
              <i aria-hidden="true" class="hovered">Remove</i>
            </span>
          </a>
          -->
        </div>
        
      </div>
      
      
      <!--
          Product Catalog
          - using bootstrap grid
          - should always be displayed
          - visible products are manipulable via filter menu
       -->
      <div id="catalog-products">
        <h2 class="sr-only">Catalog Item Listing</h2>

        <div class="row">
          
          <!--
              Single Product
              - data-[filter] controls filtering
                  i.e. if filter menu has: data-filter="category"
                  single product would have: data-category="___"
          -->
          {{#products}}
            <div class="col-sm-4 col-md-3">
              <a class="catalog-single-product" data-category="{{category}}" href="#pets" >
                <span class="sr-only">Selected product</span>
                <p>{{name}}</p>
                <figure>
                  <img src="{{image}}" alt="{{short}}" />
                  <p class="price">
                    <span class="sr-only">Price </span>
                    <span aria-hidden="true">$</span>{{price}}
                    <span class="sr-only"> Dollars</span>
                  </p>
                  <p class="stock">
                    <span class="sr-only">In stock </span>{{stock}} 
                    <span aria-hidden="true">left</span>
                  </p>
                </figure>
              </a>
            </div>
          {{/products}}
          
        </div>
        
      </div>
      
    </section>


  </article>

</main>

{{> footer}}    